---
layout: base.njk
pagination:
  data: site.months
  size: 1
  alias: month
permalink: "/{{ month }}/index.html"
eleventyComputed:
  title: "Archive: {{ month }}"
---
{% set listedPosts = collections.posts | inMonth(month) %}
{% set monthInfo = (collections.posts | allMonths) | selectattr("value", "equalto", month) | first %}
<header class="page-header"><h1>{{ monthInfo.name }}</h1></header>
{% include "post-list.njk" %}
