---
layout: base.njk
pagination:
  data: site.months
  size: 1
  alias: month
permalink: "/{{ month }}/index.html"
eleventyComputed:
  title: "{{ month | monthName }}"
---
{% set listedPosts = collections.posts | inMonth(month) %}
<header class="page-header"><h1>{{ month | monthName }}</h1></header>
{% include "post-list.njk" %}
